*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 110px;
    background-color: #8cbf3f;
}

nav img {
    width: 105px;
    height: 105px;
    ;
    float: left
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    font-size: 20pt;
    margin-top: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    line-height: 2;
    color: #f2cc0f;
}
.qu {
    width: 1000px;
    color: black;
    font-family: georgia;
    font-size: 16pt;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Pattaya';
}

.an {
    width: 100%;
    font-size: 16pt;
    font-family: georgia;
    display: none;
    color: #9453a6;
    font-family: 'Roboto', sans-serif;
}
.qu:hover .an {
    display: block;
}
.fuqs{
    background-color: #f2cc0f;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8cbf3f;
    color: white;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background-color: #f2f2f2;
    margin-left: 8px;
}

.fa:hover {
    opacity: 0.7;
}